.hero {
  height: 80vh;
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.15);
}

.hero-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 20px;
}

.hero,
.page-wrapper {
  background-color: white;
}
